################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/WebTrace/v14
/WebTrace.sln.DotSettings.user
/TestApplication/bin/Debug
/TestApplication/obj/Debug
/WebTrace/node_modules
